@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background-color: hsl(30, 38%, 92%);
    font-size: 16px;
    font-family: 'Roboto';
  
    height: 100vh; /* Viewport Height - alto de lo visible pantalla*/
  
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
  }
  
  main {
    background-color: white;
    width: 800px;
    height: 500px;
    display: flex;
    border-radius: 14px;
  }
  
  .photo {
    /* width: 50%; */
    width: 50%;
    background-image: url(./assets/images/illustration-sign-up-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 28px;
    border-radius: 14px;
    box-shadow: 1px 1px 3px #ccc;
    
    }
  .content p {
    font-family: 'Roboto';
    font-weight: 400;
    text-align: justify;
    margin-top: 1px;
  } 

    .content {
    background-color: hsl(0, 0%, 100%);
    /* width: 50%; */
    width: 400px;
    padding: 28px;
    border-radius: 14px 0 0 14px;
    }
  
  .content h1 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 50px;
    color: hsl(212, 21%, 14%);
    
   }
  
   .list {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 20px;
    
  }
  
  .item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-family: 'Roboto';
    font-weight: 400;

  }
  
  .item img {
    margin-right: 12px;
    width: 16px;
    height: 16px;
  }
  

  .content button {
    border: 0;
    font-family: 'Roboto';
    font-weight: bold;
    color: white;
    background-color: hsl(234, 29%, 20%);
    padding: 14px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 7px;
    border-radius: 7px;
    margin-top: 20px;
    cursor: pointer;
  }
  .content label {
    color: hsl(212, 21%, 14%);
    font-weight: bold;
    font-size: 16px;
    
  }
  input[type="email"] {
    width: 380px;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 3px;
}